{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pulmo - Pneumonia Detection System</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="{% static 'contact.css' %}">
</head>

<body>

  <header>
    <div class="logo">
        <img src="{% static 'images/img9.png' %}" alt="Pulmo Logo">
        <span>Pulmo</span>
    </div>
    <nav>
        <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'faqs' %}">FAQs</a></li>
        </ul>
    </nav>
</header>



<div class="contact-container">
    <div class="left-col">
    </div>
    <div class="right-col">

      
      <h1>Contact us</h1>
      <p>Have any questions or need assistance? Reach out to us now.</p>
      
      <form id="contact-form" method="post" action="{% url 'contact_submit' %}">
        {% csrf_token %}
        <label for="name">Full name</label>
    <input type="text" id="name" name="name" placeholder="Your Full Name" required>
        <label for="email">Email Address</label>
    <input type="email" id="email" name="email" placeholder="Your Email Address" required>
        <label for="message">Message</label>
    <textarea rows="6" placeholder="Your Message" id="message" name="message" required></textarea>
        <!--<a href="javascript:void(0)">--><button type="submit" id="submit" name="submit">Send</button><!--</a>-->
    
  </form>
  <div id="error"></div>
  <div id="success-msg"></div>
    </div>
  </div>

  


<footer>
    <div class="footer-container">
        <div class="copyright">
            <p>© 2024 Pneumonia Detection. All rights reserved.</p>
        </div>
        <nav class="footer-nav">
            <ul>
              <li><a href="{% url 'privacy' %}">Privacy</a></li>
              <li><a href="{% url 'terms' %}">Terms</a></li>
              <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </nav>
    </div>
</footer>
  

<script>


  const name = document.getElementById('name');
  const email = document.getElementById('email');
  const message = document.getElementById('message');
  const errorElement = document.getElementById('error');
  const submitBtn = document.getElementById('submit');
  const contactForm = document.getElementById('contact-form');
  const successMsg = document.getElementById('success-msg');
  
  
  
  const validate = (e) => {
    e.preventDefault();
  
    if (name.value.length < 3) {
      errorElement.innerHTML = 'Your name should be at least 3 characters long.';
      return false;
    }
  
    if (!emailIsValid(email.value)) {
      errorElement.innerHTML = 'Please enter a valid email address.';
      return false;
    }
  
    const formData = new FormData(contactForm);

    fetch(contactForm.action, {
      method: 'POST',
      body: formData,
    })
      .then(response => {
        if (response.ok) {
          successMsg.innerHTML = 'Message sent!';
          setTimeout(() => {
            successMsg.innerHTML = '';
            contactForm.reset();
          }, 2000);
        } else {
          throw new Error('Failed to send message');
        }
      })
      .catch(error => {
        console.error('Error:', error);
      });
  
    return true;
  };
  
  const emailIsValid = email => {
    return /^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email);
  };
  
  submitBtn.addEventListener('click', validate);
  

</script>

</body>
</html>

