{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pulmo - Pneumonia Detection System</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="{% static 'faqs.css' %}">
</head>

<body>

  <header>
    <div class="logo">
        <img src="{% static 'images/img9.png' %}" alt="Pulmo Logo">
        <span>Pulmo</span>
    </div>
    <nav>
        <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'faqs' %}">FAQs</a></li>
        </ul>
    </nav>
</header>


<div class="container">
    <h2>Frequently Asked Questions</h2>
    <div class="accordion">
      <div class="accordion-item">
        <button id="accordion-button-1" aria-expanded="false"><span class="accordion-title">How do I use the system?</span><span class="icon" aria-hidden="true"></span></button>
        <div class="accordion-content">
          <p>Simply upload a chest X-ray, click "submit," and await the displayed result.</p>
        </div>
      </div>
      <div class="accordion-item">
        <button id="accordion-button-2" aria-expanded="false"><span class="accordion-title">Is this system guaranteed to provide 100% accurate results?</span><span class="icon" aria-hidden="true"></span></button>
        <div class="accordion-content">
          <p>No, it is not infallible. It's essential to always seek consultation from a qualified medical professional.</p>
        </div>
      </div>
      <div class="accordion-item">
        <button id="accordion-button-3" aria-expanded="false"><span class="accordion-title">How accurate is the system?</span><span class="icon" aria-hidden="true"></span></button>
        <div class="accordion-content">
          <p>The system boasts an accuracy rate of 95%.</p>
        </div>
      </div>
      <div class="accordion-item">
        <button id="accordion-button-4" aria-expanded="false"><span class="accordion-title">What model does the system utilize?</span><span class="icon" aria-hidden="true"></span></button>
        <div class="accordion-content">
          <p>The system employs Convolutional Neural Network (CNN) technology.</p>
        </div>
      </div>
      <div class="accordion-item">
        <button id="accordion-button-5" aria-expanded="false"><span class="accordion-title">What are the common symptoms of pneumonia?</span><span class="icon" aria-hidden="true"></span></button>
        <div class="accordion-content">
          <p>Common symptoms include cough, fever, difficulty breathing, chest pain, and fatigue.</p>
        </div>
      </div>
      <div class="accordion-item">
        <button id="accordion-button-4" aria-expanded="false"><span class="accordion-title">Is this system suitable for diagnosing all types of pneumonia?</span><span class="icon" aria-hidden="true"></span></button>
        <div class="accordion-content">
          <p>The system is designed to detect common types of pneumonia, but it may not be optimized for rare or atypical cases.</p>
        </div>
      </div>
      <div class="accordion-item">
        <button id="accordion-button-4" aria-expanded="false"><span class="accordion-title">Can this system replace a medical professional's diagnosis?</span><span class="icon" aria-hidden="true"></span></button>
        <div class="accordion-content">
          <p>No, this system is meant to assist healthcare professionals in their diagnosis, but it should not replace the expertise of a trained doctor.</p>
        </div>
      </div>
      <div class="accordion-item">
        <button id="accordion-button-4" aria-expanded="false"><span class="accordion-title">Are there any limitations to the system's accuracy?</span><span class="icon" aria-hidden="true"></span></button>
        <div class="accordion-content">
          <p>While the system is highly accurate, there may be instances where other factors could affect the interpretation of the results. It's always recommended to consult with a healthcare professional for a comprehensive assessment.</p>
        </div>
      </div>
      <div class="accordion-item">
        <button id="accordion-button-4" aria-expanded="false"><span class="accordion-title">Are there any age or demographic restrictions for using the system?</span><span class="icon" aria-hidden="true"></span></button>
        <div class="accordion-content">
          <p>The system is designed to analyze chest X-rays from individuals of various age groups and demographics, but it's important to note that certain population factors may affect the accuracy of the results.</p>
        </div>
      </div>
      <div class="accordion-item">
        <button id="accordion-button-4" aria-expanded="false"><span class="accordion-title">Is there any specific resolution or format required for uploading the<br> chest X-ray images?</span><span class="icon" aria-hidden="true"></span></button>
        <div class="accordion-content">
          <p>The system typically accepts standard formats such as JPEG or PNG and it's recommended to use high-resolution images for better accuracy.</p>
        </div>
      </div>
    </div>
  </div>
<footer>
    <div class="footer-container">
        <div class="copyright">
            <p>© 2024 Pneumonia Detection. All rights reserved.</p>
        </div>
        <nav class="footer-nav">
            <ul>
              <li><a href="{% url 'privacy' %}">Privacy</a></li>
              <li><a href="{% url 'terms' %}">Terms</a></li>
              <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </nav>
    </div>
</footer>

<script>
    const items = document.querySelectorAll(".accordion button");

function toggleAccordion() {
  const itemToggle = this.getAttribute('aria-expanded');
  
  for (i = 0; i < items.length; i++) {
    items[i].setAttribute('aria-expanded', 'false');
  }
  
  if (itemToggle == 'false') {
    this.setAttribute('aria-expanded', 'true');
  }
}

items.forEach(item => item.addEventListener('click', toggleAccordion));
</script>

</body>
</html>