{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pulmo - Pneumonia Detection System</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="{% static 'privacy.css' %}">
</head>

<body>

  <header>
    <div class="logo">
        <img src="{% static 'images/img9.png' %}" alt="Pulmo Logo">
        <span>Pulmo</span>
    </div>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'faqs' %}">FAQs</a></li>
        </ul>
    </nav>
</header>


<div class="privacy-content">
    <h1>Privacy Policy</h1>
    <p>This privacy policy ("policy") will help you understand how Pulmo ("us", "we", "our") uses and protects the data you provide to us when you visit and use Pulmo's website.</p>

    <h2>What User Data We Collect</h2>
    <p>When you visit the website, we may collect the following data:</p>
    <ul>
        <li>Your Chest Xray.</li>
        <li>Your contact information and email address.</li>
        <li>Other information such as interests and preferences.</li>
    </ul>

    <h2>Why We Collect Your Data</h2>
    <p>We are collecting your data for several reasons:</p>
    <ul>
        <li>To better understand your needs.</li>
        <li>To improve our services and products.</li>
    </ul>

    <h2>How We Use Your Data</h2>
    <p>We use your data to:</p>
    <ul>
        <li>Improve our products and services.</li>
        <li>Send you promotional emails containing the information we think you will find interesting.</li>
    </ul>

    <h2>Contact Us</h2>
    <p>If you have any questions about our privacy policy, feel free to contact us at emailadress@domain.com.</p>
</div>





<footer>
    <div class="footer-container">
        <div class="copyright">
            <p>© 2024 Pneumonia Detection. All rights reserved.</p>
        </div>
        <nav class="footer-nav">
            <ul>
                <li><a href="{% url 'privacy' %}">Privacy</a></li>
                <li><a href="{% url 'terms' %}">Terms</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </nav>
    </div>
</footer>