{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pulmo - Pneumonia Detection System</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="{% static 'terms.css' %}">
</head>

<body>

    <header>
        <div class="logo">
            <img src="{% static 'images/img9.png' %}" alt="Pulmo Logo">
            <span>Pulmo</span>
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'faqs' %}">FAQs</a></li>
            </ul>
        </nav>
    </header>
    


    <div class="terms-content">
        <h1>Terms and Conditions</h1>
        <p>Welcome to Pulmo - Pneumonia Detection System. These terms and conditions outline the rules and regulations for the use of Pulmo's Website.</p>

        <h2>1. Acceptance of Terms</h2>
        <p>By accessing this Website, we assume you accept these terms and conditions in full.</p>

        <h2>2. Intellectual Property Rights</h2>
        <p>Other than the content you own, under these Terms, Pulmo and/or its licensors own all the intellectual property rights and materials contained in this Website.</p>

        <h2>3. Restrictions</h2>
        <p>You are specifically restricted from all of the following:</p>
        <ul>
            <li>Publishing any Website material in any other media.</li>
            <li>Selling, sublicensing, and/or otherwise commercializing any Website material.</li>
            <li>Using this Website in any way that is or may be damaging to this Website.</li>
        </ul>

        <h2>4. Contact Us</h2>
        <p>If you have any questions about our terms and conditions, feel free to contact us at contact@pulmo.com.</p>
    </div>

    
    <footer>
        <div class="footer-container">
            <div class="copyright">
                <p>© 2024 Pneumonia Detection. All rights reserved.</p>
            </div>
            <nav class="footer-nav">
                <ul>
                    <li><a href="{% url 'privacy' %}">Privacy</a></li>
                    <li><a href="{% url 'terms' %}">Terms</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                </ul>
        </div>
    </footer>
    