
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }



.checking-message {
    text-align: center;
    position: relative;
    top: 20px; /* Adjust position as needed */
    padding-bottom: 20px;
  }
  
  .loading-container {
    background-color: #f0f0f0;
    height: 10px;
    width: 70%; /* Adjust the width as needed */
    margin: auto; /* Center loading bar horizontally */
    position: relative;
  }
  
  .loading-bar {
    background-color: #007bff;
    height: 100%;
    width: 0;
    animation: progress 5s ease-in-out forwards; /* Adjust the duration (5s) as needed */
  }
  
  @keyframes progress {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  
  .content {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    text-align: left;
  }
  
  
  .facts, .suggestions {
    text-align: center;
    margin: 50px auto; /* Adjust spacing as needed */
    width: 70%; /* Adjust width as needed */
  }
  
  .facts h2, .suggestions h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .facts ul, .suggestions ol {
    list-style-type: none;
    padding: 0;
  }
  
  .facts ul li, .suggestions ol li {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .content.hidden {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .content.visible {
    opacity: 1;
  }
  
  .result-section {
    margin-top: 50px;
    margin-right: 30px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .result-section h2 {
    font-size: 24px;
    text-align: center;
  }
  
  .result-section #result-statement {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .disclaimer-section {
    margin-top: 70px;
    margin-right: 30px;
  }
  
  .disclaimer-section h3 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .disclaimer {
    font-size: 14px;
    text-align: center;
    color: #777;
  }
  